.dropdown-hover:hover .dropdown-menu {
  display: block;
}

/*
.img-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .img-hover:hover {
    transform: scale(1.1);
  }
*/

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
}
body.dark {
  background-color: rgba(0,0,0,0.8);
}

body.dark header {
  background-color: white;
}

body.dark nav {
  background-color: white;
}

body.dark main{
  filter: brightness(0.2);
  transition: filter 0.3s ease-in-out;
}


.card {
  margin-bottom: 20px;
  position: relative;
}

.card-title {
  text-align: center;
}

.card-text{
  text-align: justify;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.order-now-btn {
  display: block;
  margin-left: auto;
  background-color: #FE7C36;
  border-color: #FE7C36;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px; /* add margin top for mobile */
  transition: all 0.3s ease-in-out;
}

.order-now-btn:hover {
  background-color: #ff5900;
  border-color: #ff5900;
  color: white;
  transform: scale(1.025);
}

.order-now-btn:not(:hover) {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .order-now-btn:hover {
    background-color: #ff5900;
    border-color: #ff5900;
    color: white;
    transform: scale(1.06);
  }
  
  .order-now-btn:not(:hover) {
    transform: scale(1);
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }

  .card {
    flex-direction: row;
  }
  
  .card img {
    width: 40%;
    height: auto;
  }
  
  .card-body {
    width: 70%;
    padding-left: 20px;
  }
  
  .card-title {
    text-align: left;
  }
  
  .card-text{
    text-align: justify;
  }

  .card .order-now-btn {
    width: 50%;
  }
}
