.dropdown-hover:hover .dropdown-menu {
    display: block;
  }
  
  * {
    font-family: 'Outfit', sans-serif;
  }

  body.dark main{
    filter: brightness(0.2);
    transition: filter 0.3s ease-in-out;
  }
  
  body.dark {
    background-color: rgba(0,0,0,0.8);
    transition: background-color 0.3s ease-in-out;
  }
  
  body.dark header {
    background-color: white;
  }
  
  body.dark nav {
    background-color: white;
  }
  
  body.light main{
    filter: brightness(1);
    transition: filter 0.3s ease-in-out;
  }
  
  body.light {
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease-in-out;
  }
  
  body.light header {
    background-color: white;
  }
  
  body.light nav {
    background-color: white;
  }

  .no-resize {
    resize: none;
  }

  .btn-review {
    display: block;
    margin-left: auto;
    background-color: #FE7C36;
    border-color: #FE7C36;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-review:hover {
    background-color: #ff5900;
    border-color: #ff5900;
    color: white;
    transform: scale(1.025);
  }
  
  .btn-review:not(:hover) {
    transform: scale(1);
  }

  .p-size{
    font-size: 4.2rem
  }

  .tp-size{
    font-size: 1.7rem
  }
  
  .title-sized{
    font-size: 2.5rem;
  }

  .text-size-p{
    font-size: 16px;
  }


@media only screen and (min-width: 768px) {
  .p-size{
    font-size: 3.5rem;
  }

  .tp-size{
    font-size: 1.5rem;
  }

  .title-sized{
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 992px) {
  .p-size{
    font-size: 4.5rem;
  }

  .tp-size{
    font-size: 2rem;
  }
  
  .text-size-p{
    font-size: 18px;
  }

  #shop-cart .dropdown-menu {
    width: 300px; /* Adjust the width as needed */
  }
  
  #shop-cart .dropdown-menu li {
    white-space: nowrap; /* Prevent line breaks */
    font-size: 16px; /* Adjust the font size as needed */
  }
}

