.dropdown-hover:hover .dropdown-menu {
  display: block;
}

* {
  font-family: 'Outfit', sans-serif;
}
/*
.img-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .img-hover:hover {
    transform: scale(1.1);
  }
*/

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
}

body.dark main{
  filter: brightness(0.2);
  transition: filter 0.3s ease-in-out;
}

body.dark {
  background-color: rgba(0,0,0,0.8);
  transition: background-color 0.3s ease-in-out;
}

body.dark header {
  background-color: white;
}

body.dark nav {
  background-color: white;
}

body.light main{
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

body.light {
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease-in-out;
}

body.light header {
  background-color: white;
}

body.light nav {
  background-color: white;
}

.card {
  margin-bottom: 20px;
  position: relative;
}

.card:hover{
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.card:not(:hover) {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card-price {
  color: #FE7C36;
  font-weight: 900;
  font-size: 18px;
}

.card-text{
  text-align: justify;
  font-size: medium;
}

.card-text::first-letter {
  text-transform: capitalize;
}

.card img {
  height: 100%;
  object-fit: cover;
}

#cover-item {
  height: 200px;
  object-fit: cover;
}

.order-now-btn {
  display: block;
  margin-left: auto;
  background-color: #FE7C36;
  border-color: #FE7C36;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px; /* add margin top for mobile */
  transition: all 0.3s ease-in-out;
}

.order-now-btn:hover {
  background-color: #ff5900;
  border-color: #ff5900;
  color: white;
  transform: scale(1.025);
}

.order-now-btn:not(:hover) {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {

  .card img {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding-left: 20px;
  }

  .card-title {
    text-align: left;
  }

  .card-text {
    text-align: justify;
  }
}

@media only screen and (min-width: 992px) {
  #shop-cart .dropdown-menu {
    width: 300px; /* Adjust the width as needed */
  }
  
  #shop-cart .dropdown-menu li {
    white-space: nowrap; /* Prevent line breaks */
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  .pizza-logo {
    height: 31px;
  }

  .card {
    width: 100%;
    flex-direction: row;
    height: auto;
  }

  .card img {
    width: 40%;
  }

  #cover-item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #cover-item-card {
    flex-direction: column;
  }

  .card-body {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .card-title:nth-child(1){
    font-size: 30px;
  }

  .card .card-body:not(:first-child) .card-price {
    font-size: 25px;
  }

  .card .card-body:first-child .card-price {
    font-size: 20px;
  }

  .card-title:not(:nth-child(1)) {
    text-align: left;
    font-size: 18px;
  }

  .card-text {
    text-align: justify;
    flex-grow: 1;
  }

  .card-button {
    width: 100%;
    margin-top: auto;
  }

  .order-now-btn {
    width: 100%;
  }
}